Flask~=3.1.0
ibm-cloud-sdk-core~=3.22.0
pip~=24.0
Jinja2~=3.1.5
certifi~=2024.12.14
urllib3~=2.3.0
six~=1.17.0
python-dateutil~=2.9.0.post0
idna~=3.10
charset-normalizer~=3.4.1
websocket-client~=1.8.0
setuptools~=65.5.0
packaging~=24.2
requests~=2.32.2
PyJWT~=2.10.1